@model shuffle2.Models.ShuffleModel


@{
    ViewData["Title"] = "shuffle";
}

<h1 style="text-align:center;">Shuffle Page</h1>


    <table class="table">

        <tr>
            <th>
                Name1
            <th>
                Message
            </th>
            <th>
                Name2
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.names)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelUser => item.Name1)
                </td>
                <td>
                    gives a gift to
                </td>
                <td>
                    @Html.DisplayFor(modelUser => item.Name2)
                </td>

            </tr>
        }
    </table>

    <div>
        @Html.ActionLink("Go back to Index Page", "Index")
    </div>
   
<script type="text/javascript">
    if (@Model.response!= null)
    {
        alert(@Model.response);
    }
   
</script>
